body:after {
    content: url(../img/logo.png);
    position: fixed;
    top: 0.5em;
    left: 0.5em;
    /*box-shadow: 5px 5px 10px #000;*/
}


.reveal .float-left {
    float: left;
}

.reveal .float-right {
    float: right;
}

.reveal .text-right {
    text-align: right;
}

.reveal .text-center {
    text-align: center;
}

.reveal .text-md {
    font-size: 60px;
}

.reveal .text-lg {
    font-size: 80px;
}

.reveal .text-xl {
    font-size: 120px;
}

.reveal .text-xxl {
    font-size: 140px;
}

.gray {
    color: #999 !important;
}

.reveal.reveal img {
    border: none;
    box-shadow: none;
    max-height: calc(66vh);
    max-width: calc(66vw);
}